* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}


/* Navigation bar */
.navbar {
    background: #333; /* Darker background color */
    color: white;
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    align-items: center;
    padding: 8px 0px 8px 8px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

/* Logo */
.logo img {
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 4px white, 0 0 4px white;
}

/* Style the navigation links */
.nav-links {
    list-style-type: none;
    display: flex;
    text-shadow: 0 0 7px white, 0 0 7px white;
}

.nav-links li {
    margin-right: 20px;
    text-transform: uppercase;
}

/* Add border-radius to the last navigation link */
.nav-links li:last-child a {
    border-radius: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px; /* Slightly larger font size for better readability */
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-bar {
    margin: 10px;
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 6px black, 0 0 6px black;
}

.search-bar button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 6px black, 0 0 6px black;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}


main{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 2em; */
    gap: 0;
}

.product-list {
    flex-basis: 250px;
    flex-grow: 2; 
    padding: 15px;
    /* margin-top: 3em; */
}

.product {
    background-color: #b4b4b4;
    border: 1px solid #b4b4b4;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    height: 350px;
    text-align: center;
    margin-top: 1em;
    flex-basis: 190px;
    flex-grow: 1;
}

.product img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: #333;
    font-size: 18px;
}


.btn{
    background-color: black;
    color: aliceblue;
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
}

.btn a{
    text-decoration: none;
    color: #eee;
}




